.main-container{
	background-color:black;
}
h1{
	color:white;
	padding:20px;
}
.links{
	color:white;
}
.content{
	display:flex;
	justify-content:center;
	justify-content:space-evenly;
}
.end-section{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	
	background-color:#57595B;
	color:white;
}
img{
	height:50px;

}
.second-container{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
